<!DOCTYPE html>
<html>
<head>
  <% include partials/head.ejs %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script type="text/javascript">
    var sock = "";
    var socket = io.connect("<%=conf%>");
    sock = socket;
    var prodcate = '';
    var region = '';
    var age = '';
    var species = '';
    var ishompage_loaddata = false;

    $(document).ready(function(){   
      loadProductCategoryforProductType('<%=conf%>','<%=token%>','<%=secu%>',function(item,data){
        prodcate += "<option value='" + -1 +"'>Chọn danh mục sản phẩm</option>";
        item.forEach(function(it){
          data[it].forEach(function(items){
            prodcate += "<option value='" + items.prodcate_id +"'>" + items.prodcate_name +"</option>";
          });
        });
        $("#prodcate_id").html(prodcate);
        //$("#prodcate_id").selectpicker('refresh');
      });
    });
  </script>
</head>
<body  class="hold-transition skin-blue sidebar-mini">
  <div class="wrapper">
    <% include partials/nav.ejs %>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <h1>
          Thêm loại sản phẩm mới
        </h1>
        <ol class="breadcrumb">
          <li><a href="/quantrac/nguoiquantri/"><i class="fa fa-dashboard"></i> Home</a></li>
          <li>

          </li>
        </ol>
      </section>
      <section class="content">
        <!-- Start main activity -->
        <div class="padding-top-bottom"></div>
        <div class="row">
          <div class="col-md-12">
            <div class="box box-primary">
              <div class="box-header text-center with-border">
                <h3 class="box-title">Thêm loại sản phẩm</h3>
              </div>
              <!-- /.box-header -->
              <div class="box-body">
                <!-- action="/quantrac/quanly/nguong/themnguong" -->
                <form class="form-horizontal" id="frmLoaisanpham" action="/quantrac/nguoiquantri/loaisanpham/them" method="post">
                  <div class="form-group">
                    <label class="control-label col-lg-4 col-md-4 col-sm-4" for="datatype_id">Danh mục sản phẩm:</label>
                    <div class="col-lg-8 col-md-8 col-sm-8">
                      <div class="row">
                        <div class="col-md-8  col-xs-12">
                          <div class="input-group">
                            <select data-none-results-text="Không tìm thấy từ khóa tìm kiếm" data-live-search="true" class="form-control" name="prodcate_id" id="prodcate_id">
                            </select>
                            <div style="color:red;font-weight:bold;" class="input-group-addon">(*)</div>
                          </div>
                          <span id="errorprodcate_id" class="error"></span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-lg-4 col-md-4 col-sm-4" for="threshold_start">Tên loại sản phẩm:</label>
                    <div class="col-lg-8 col-md-8 col-sm-8">
                      <div class="row">
                        <div class="col-md-8  col-xs-12">
                          <div class="input-group">
                            <input type="text" class="form-control" placeholder="Nhập tên loại sản phẩm" name="prodtype_typeName" id="prodtype_typeName"/>
                            <div style="color:red;font-weight:bold;" class="input-group-addon">(*)</div>
                          </div>
                          <span id="errorprodtype_typeName" class="error"></span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-lg-offset-5 col-lg-8 col-md-offset-5 col-md-8 col-sm-offset-5 col-sm-8">
                      <div class="row">
                        <div class="col-md-8  col-xs-12">
                          <input type="submit" class="btn btn-primary" name="btnThemLoaisanpham" value="Thêm"/>
                          <input type="reset" class="btn btn-primary" name="btnDatLai" value="Đặt lại"/>
                          <span style="color:red;font-weight:bold;" >(*)</span><span> là bắt buộc</span>
                        </div>
                      </div>
                    </div>
                  </div>

                </form>

              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <!-- /.content-wrapper -->
    <footer class="footer-title main-footer">
      <strong>Copyright &copy; Bộ môn công nghệ phần mềm, Khoa CNTT & TT, Trường DH Cần Thơ</strong> 
    </footer>
    <% include partials/scripts.ejs %>
    <!-- Control Sidebar -->
    <% include partials/sidebar.ejs %>
  </div>
  <!-- ./wrapper -->
</body>
<!-- jQuery 2.2.3 -->

</html>
