<!DOCTYPE html>
<html>
<head>
  <% include admin/partials/head.ejs %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
  <% include admin/partials/nav.ejs %>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Người quản trị
        <small>Control panel</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li></li>
      </ol>
    </section>

    
  </div>
  <!-- /.content-wrapper -->
  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 2.3.8
    </div>
    <strong>Copyright &copy; 2014-2016 <a href="">TeamTom</a>.</strong> All rights
    reserved.
  </footer>
  <% include admin/partials/scripts.ejs %>
  <!-- Control Sidebar -->
  <% include admin/partials/sidebar.ejs %>
</div>
<!-- ./wrapper -->

<!-- jQuery 2.2.3 -->

</html>
