<!DOCTYPE html>
<html lang="en">
<head>
    <% include farmer/partials/head.ejs %>
</head>

<body>
    <div id="wrapper">
        <% include farmer/partials/nav.ejs %>
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Dashboard</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
    <% include farmer/partials/scripts.ejs %>
</body>
</html>
