<!--Modal de hien thi thong tin cua nguong -->
<div class="modal fade" tabindex="-1" id="modalThreshold" role="dialog" aria-labelledby="gridSystemModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title threshold_name text-center" id="modal-title" id="gridSystemModalLabel">Chi tiết về ngưỡng</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <table class="table table-stripped no-margin">
              <thead>
              </thead>
              <tbody>
                <tr>
                  <td style="font-weight: bold;">Loại dữ liệu</td>
                  <td><p class="datatype_name"></p></td>
                </tr>
                <tr>
                  <td style="font-weight: bold;">Ngưỡng của vùng</td>
                  <td><p class="region_name"></p></td>
                </tr>
                <tr>
                  <td style="font-weight: bold;">Ngưỡng của loài</td>
                  <td><p class="species_name"></p>   </td>
                </tr>
                <tr>
                  <td style="font-weight: bold;">Ngưỡng của độ tuổi</td>
                  <td><p class="age_name"></p></td>
                </tr>
                <tr>
                  <td style="font-weight: bold;">Khoảng giá trị của ngưỡng</td>
                  <td><p class="threshold_start_end"></p></td>
                </tr>
                <tr>
                  <td style="font-weight: bold;">Cấp độ ngưỡng</td>
                  <td><p class="threshold_level"></p></td>
                </tr>
                <tr>
                  <td style="font-weight: bold;">Nội dung</td>
                  <td><p class="threshold_message"></p></td>
                </tr>
                <tr>
                  <td style="font-weight: bold;">Ngày cập nhật</td>
                  <td><p class="threshold_createdDate"></p></td>
                </tr>
                <tr>
                  <td style="font-weight: bold;">Thời gian cảnh báo</td>
                  <td><p class="threshold_timeWarning"></p></td>
                </tr>
                <tr>
                  <td style="font-weight: bold;">Loại ngưỡng</td>
                  <td><p class="threshold_type"></p></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
