<div class="row">
  <div class="col-md-12">
    <div style="display: none;" id="ErrorMessage" class="alert alert-warning">
      <!-- Hiển thị thông báo lỗi khi load dữ liệu không được -->
    </div>
  </div>
</div>
