<div class="modal fade" tabindex="-1" id="modalStation" role="dialog" aria-labelledby="gridSystemModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title station_name text-center" id="modal-title" id="gridSystemModalLabel"></h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <table class="table-stripped table no-margin">
              <thead>
              </thead>
              <tbody>
                <tr class="p_description">
                  <td style="font-weight: bold;">Thuộc ao</td>
                  <td><p class="pond_description"></p></td>
                </tr>
                <tr class="r_name">
                  <td style="font-weight: bold;">Thuộc trạm sông</td>
                  <td><p class="river_name"></p></td>
                </tr>
                <tr class="re_name">
                  <td style="font-weight: bold;">Thuộc vùng</td>
                  <td><p class="region_name"></p></td>
                </tr>
                <tr class="s_name">
                  <td style="font-weight: bold;">Thuộc trạm điều hành</td>
                  <td><p class="sink_name"></p></td>
                </tr>
                <tr class="s_address">
                  <td style="font-weight: bold;">Địa chỉ trạm</td>
                  <td><p class="station_address"></p></td>
                </tr>
                <tr class="s_location">
                  <td style="font-weight: bold;">Tọa độ của trạm</td>
                  <td><p class="station_location"></p></td>
                </tr>
                <tr>
                  <td style="font-weight: bold;">Thời gian của trạm</td>
                  <td><p class="station_duration"></p></td>
                </tr>
                <tr>
                  <td style="font-weight: bold;">Trạng thái cập nhật của trạm</td>
                  <td><p class="station_updateStatus"></p></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
