<!DOCTYPE html>
<html>
<head>
  <% include partials/head.ejs %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <!-- Cac ham load du lieu duoc su dung -->
<script type="text/javascript" src='/dist/js/loadFunction-Tuan.js'></script>
  
</head>
<body id="home" class="homepage">
    <% include partials/nav.ejs %> 
    

    <section id="blog">
        <div class="container">

        <div class="row">
        <div class="col-lg-1"></div>

            <!-- Blog Post Content Column -->
            <div class="col-lg-10 well">

                <!-- Blog Post -->

                <!-- Title -->
                <h1>TÔM CÀNG XANH PHÚ THUẬN VÀ MÔ HÌNH VIETGAP</h1>

                <!-- Author -->
                <p class="lead">
                    Đăng bởi: Nhật Tuấn
                </p>
                <p>
                    Phong trào nuôi tôm càng xanh ở tỉnh An Giang được khởi đầu từ xã Phú Thuận, huyện Thoại Sơn vào năm 2006. Ngư dân thả nuôi bằng nhiều hình thức luân canh trong ruộng lúa, thâm canh trong ao đất và đăng quầng, cho năng suất từ 0,1 tấn - 5 tấn/ha tùy mô hình, tập trung ở nhiều địa phương trong tỉnh như huyện Châu Thành, Châu Phú, Phú Tân và vương quốc tôm càng xanh ở huyện Thoại Sơn, cho lợi nhuận cao, người nuôi rất phấn khởi.
                </p>
                <img class="img-responsive" src="http://image.dantocmiennui.vn/uploaddtmn//2016/12/12/tom2-1407982503619-1.jpg" alt="" width="100%">
                <p>
                    Tuy nhiên trong những năm gần đây, nghề nuôi tôm giảm mạnh do thiếu con giống, phụ thuộc vào khai thác ngoài tự nhiên; tôm giống có kích cỡ không đồng đều dẫn đến tình trạng tôm ăn lẫn nhau trong quá trình lột xác; ngoài ra ngư dân chưa có kỹ thuật và kinh nghiệm nuôi, chỉ tận dụng thức ăn từ cua, ốc… ngoài tự nhiên; dịch bệnh trên tôm phổ biến chưa có biện pháp phòng trị. Hiện diện tích thả nuôi trong tỉnh dần bị thu hẹp, năm 2007 diện tích thả nuôi là 650 ha, đến cuối năm 2011 giảm còn khoảng 390 ha và hiện nay là 151 ha tập trung tại huyện Thoại Sơn.
                </p>
                <p>
                    Trước tình hình trên, tỉnh An Giang đang có nhiều giải pháp nhằm tháo gỡ khó khăn cho người nuôi tôm càng xanh. Bà Phạm Thị Hòa - Phó giám đốc Sở Nông nghiệp và Phát triển nông thôn tỉnh An Giang cho biết, hiện Trung tâm giống Thủy sản tỉnh An Giang đang kết hợp với Khoa Thủy sản - Trường Đại học Cần Thơ, Sở Khoa học và Công nghệ, Sở Nông nghiệp & PTNT tỉnh An Giang triển khai nhiều đề tài nghiên cứu "Thực nghiệm xây dựng mô hình nuôi tôm càng xanh thương phẩm trong ao đất ở tỉnh An Giang", "Ứng dụng KHKT vào sản xuất con giống", "Phòng trị bệnh cho tôm", "kỹ thuật nuôi tôm luân canh trên chân ruộng lúa"… nhằm cải thiện kỹ thuật nuôi, khắc phục hạn chế về số lượng, năng suất, chất lượng… con giống cũng như tôm thương phẩm, giúp ngư dân mạnh dạn khôi phục nghề nuôi, sản lượng đủ cung ứng cho nhu cầu tiêu thụ nội địa, đặc biệt là xuất khẩu, nâng cao thu nhập, làm giàu cho ngư dân. Bà Hòa nhấn mạnh, trong thời gian tới tỉnh tập trung qui hoạch vùng nuôi gắn với hình thành chuỗi giá trị sản xuất con giống tôm càng xanh, khai thác hợp lý và hiệu quả tiềm năng diện tích mặt nước hiện có và tiếp tục nghiên cứu quy trình nuôi tôm càng xanh trong ruộng lúa, ao đất theo hướng nâng cao chất lượng theo tiêu chuẩn VietGAP, đảm bảo phát triển bền vững về số lượng, chất lượng và đầu ra thuận lợi.
                </p>
                <p>
                    Trong 2 năm thực hiện nuôi tôm càng xanh, nhìn chung người nuôi tôm tại xã Phú Thuận còn chịu ảnh hưởng nặng nề từ biến đổi khí hậu. Cuối năm 2015, diện tích nuôi tôm càng xanh ứng dụng công nghệ cao đạt 55 ha. Đến nay diện tích giảm xuống còn 35,7 ha. Tuy nhiên, nhờ tuyên truyền sâu rộng về nuôi tôm càng xanh công nghệ cao, đã có 70% hộ thả nuôi tôm toàn đực thay đổi thói quen nuôi, người nuôi đã biết ứng dụng công nghệ quản lý hiện đại, nâng hiệu quả kinh tế; giúp tôm nuôi có màu sắc đẹp và tăng kích cỡ. Cùng đó, đã có 16,7 ha được chứng nhận VietGAP, đến cuối năm dự kiến sẽ có 38,7 ha nuôi được chứng nhận VietGAP.
                </p>
                <img class="img-responsive" src="http://kythuatnuoitrong.com/wp-content/uploads/tom-cang-xanh-toan-duc.jpg" alt="" width="100%">
                <p>
                    Với việc thực hiện nuôi tôm công nghệ cao và ứng dụng theo tiêu chuẩn VietGAP, tôm càng xanh An Giang mang thương hiệu VietGAP đã được doanh nghiệp bao tiêu toàn bộ sản phẩm với giá cao hơn giá thị trường 20.000 – 30.000 đồng/kg. Với sức mua của thị trường, sản lượng tôm càng xanh An Giang mang thương hiệu VietGAP hiện nay chưa cung cấp đủ nhu cầu cho doanh nghiệp.
                </p>
                <p>
                     Tại Hội thảo, các hộ nuôi kiến nghị Nhà nước cần hỗ trợ hạ tầng cơ sở, kéo điện để dân sản xuất diện tích lớn và phát triển nghề nuôi. Doanh nghiệp cũng đặt vấn đề mua tôm xô, tăng diện tích VietGAP và cam kết thu mua toàn bộ sản phẩm cho nông dân.
                </p>
                <p>
                    Theo đó, An Giang sẽ hình thành vùng chuyên canh nuôi tôm càng xanh toàn đực trong ao đất theo công nghệ cao nhằm cung cấp nguồn nguyên liệu ổn định, đảm bảo đủ về số lượng; tôm thương phẩm đạt chất lượng cao và có kích cỡ lớn, đáp ứng cho thị trường. Phấn đấu đến năm 2020, diện tích nuôi tôm càng xanh toàn đực theo công nghệ cao đạt 300ha.
                </p>
                <hr>
                <p>
                    Bạn có thể tham khảo thêm về VIETGAP tại:
                </p>
                <p>
                    <a href="http://www.vietgap.com">VIETGAP</a>
                </p>
                <p>
                    <a href="http://www.vietgap.com/1048/huong-dan-ap-dung/huong-dan-ap-dung-vietgap-trong-thuy-san.html">Hướng dẫn áp dụng VietGAP trong thủy sản</a>
                </p>
                <p>
                    <a href="http://www.vietgap.com/huong-dan-ap-dung/1048_2971/quy-pham-thuc-hanh-nuoi-trong-thuy-san-tot-tai-viet-nam-vietgap.html">Quy phạm thực hành nuôi trồng thủy sản tốt tại Việt Nam (VietGAP)</a>
                </p>

                <hr>
                <p>
                    Bài viết có sử dụng tư liệu và hình ảnh từ:
                    
                </p>
                <p><a href="http://kythuatnuoitrong.com/an-giang-nuoi-tom-cang-xanh-ung-dung-cong-nghe-cao/">http://kythuatnuoitrong.com/an-giang-nuoi-tom-cang-xanh-ung-dung-cong-nghe-cao/</a></p>
                <p><a href="http://www.vietgap.com/thong-tin/998_6711/phat-trien-tom-cang-xanh-toan-duc.html">http://www.vietgap.com/thong-tin/998_6711/phat-trien-tom-cang-xanh-toan-duc.html</a></p>
                <p><a href="https://www.anovapharma.com/tin-ap/agriculture-news/fisheries-information/an-giang-thao-go-kho-khan-cho-nguoi-nuoi-tom-cang-xanh.html?p=3">https://www.anovapharma.com/tin-ap/agriculture-news/fisheries-information/an-giang-thao-go-kho-khan-cho-nguoi-nuoi-tom-cang-xanh.html?p=3</a></p>
                <!-- Post Content -->
                <div id="hienthi"></div>
                

                <hr>

                <!-- Blog Comments -->

                <!-- Comments Form -->
                

                <hr>

                <!-- Posted Comments -->

                <!-- Comment -->
                <div id="cmt">
                    <div id="demo" class="collapse">
                Lorem ipsum dolor text....
                </div>
                </div>
                

                <!-- Comment -->
                
                

            </div>

            

        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        

    </div>
    <!-- /.container -->
    </section>

<footer id="footer">
<div class="container">
<div class="row">
<div class="col-sm-6">
Copyright &copy Bộ môn Công Nghệ Phần Mềm, Khoa CNTT & TT, Trường ĐH Cần Thơ. All rights reserved.
</div>
<div class="col-sm-6">
<ul class="social-icons">
<li><a href="#"><i class="fa fa-facebook"></i></a></li>
<li><a href="#"><i class="fa fa-twitter"></i></a></li>
<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
<li><a href="#"><i class="fa fa-behance"></i></a></li>
<li><a href="#"><i class="fa fa-flickr"></i></a></li>
<li><a href="#"><i class="fa fa-youtube"></i></a></li>
<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
<li><a href="#"><i class="fa fa-github"></i></a></li>
</ul>
</div>
</div>
</div>
</footer><!--/#footer-->
<% include partials/scripts.ejs %>
<!-- Control Sidebar -->
<% include partials/sidebar.ejs %>

</div>
<!-- ./wrapper -->
</body>	
<!-- jQuery 2.2.3 -->

</html>