<header class="main-header">
    <!-- Logo -->
    <a href="/quantrac" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>TPT</b></span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>Tôm Phú Thuận</b></span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>

      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!-- Notifications: style can be found in dropdown.less -->
          <li class="dropdown notifications-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-bell-o"></i>
              <span class="label label-warning numberOfNotification">0</span>
            </a>
            <ul class="dropdown-menu">
              <li class="header">Có <span class="numberOfNotification">0</span> thông báo chưa đọc</li>
              <li>
                <!-- inner menu: contains the actual data -->
                <ul class="menu" id ="listNotification">              
                </ul>
              </li>
              <li class="footer"><a href="/quantrac/nongdan/thongbao/danhsach">Xem tất cả thông báo</a></li>
            </ul>
          </li>
          <!-- User Account: style can be found in dropdown.less -->
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img src="/dist/img/avatar04.png" class="user-image" alt="User Image">
              <span class="hidden-xs tennguoidung"></span>
              
            </a>
            <ul class="dropdown-menu">
              <!-- User image -->
              <li class="user-header">
                <img src="/dist/img/avatar04.png" class="img-circle" alt="User Image">
              </li>
              <!-- Menu Body -->
              <li class="user-body">
                <div class="pull-left">
                  <div class="tennguoidung2"></div>
                </div>
                <div class="pull-right">
                  <div class="tennguoidung1"></div>
                  
                </div>
              </li>
              <!-- Menu Body -->
              <li class="user-footer">
                <div class="pull-right">
                  <a href="/quantrac/dangxuat" class="btn btn-default btn-flat">Đăng xuất</a>
                </div>
              </li>
            </ul>
          </li>
          <!-- Control Sidebar Toggle Button -->
          <li>
            <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
          </li>
        </ul>
      </div>
    </nav>
  </header>