<div class="row">
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" id="modal_notif_title"></h4>
                </div>
                <div class="modal-body">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td width = "35%"><b>Thời gian: </b></td>
                                <td><span id="modal_notif_time"></span></td>
                            </tr>
                            <tr>
                                <td><b>Vị trí: </b></td>
                                <td><span id="modal_notif_station"></span></td>
                            </tr>
                            <tr>
                                <td><b>Ngưỡng vượt: </b></td>
                                <td><span id="modal_notif_message"></span></td>
                            </tr>
                            <tr>
                                <td><b>Chỉ số: </b></td>
                                <td><span id="modal_notif_value"></span></td>
                            </tr>
                            <tr>
                                <td><b>Cấp độ: </b></td>
                                <td><span id="modal_notif_level"></span></td>
                            </tr>
                            <tr>
                                <td><b>Lời khuyên: </b></td>
                                <td><span id="modal_notif_advice"></span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>