<header class="main-header">
<!-- Logo -->
<a href="/" class="logo">
  <!-- mini logo for sidebar mini 50x50 pixels -->
  <span class="logo-mini"><b>TPT</b></span>
  <!-- logo for regular state and mobile devices -->
  <span class="logo-lg"><b>Tôm Phú Thuận</b></span>
</a>
<!-- Header Navbar: style can be found in header.less -->
<nav class="navbar navbar-static-top">
  <!-- Sidebar toggle button-->
  <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
    <span class="sr-only">Toggle navigation</span>
  </a>

  <div class="navbar-custom-menu">
    <ul class="nav navbar-nav">
      
     
      <!-- User Account: style can be found in dropdown.less -->
      <li class="dropdown user user-menu">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <img src="/dist/img/avatar5.png" class="user-image" alt="User Image">
          <span class="hidden-xs"><%=fullName%></span>
        </a>
        <ul class="dropdown-menu">
          <!-- User image -->
          <li class="user-header">
            <img src="/dist/img/avatar5.png" class="img-circle" alt="User Image">

            <p>
              <%=fullName%>
              <small>Member since Nov. 2012</small>
            </p>
          </li>
          <!-- Menu Body -->
          
          <!-- Menu Footer-->
          <li class="user-footer">
            <div class="pull-left">
              <a href="#" class="btn btn-default btn-flat">Profile</a>
            </div>
            <div class="pull-right">
              <a href="/quantrac/dangxuat" class="btn btn-default btn-flat">Thoát</a>
            </div>
          </li>
        </ul>
      </li>
      <!-- Control Sidebar Toggle Button -->
      <li>
        <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
      </li>
    </ul>
  </div>
</nav>
</header>
<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
<!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar">
  <!-- Sidebar user panel -->
  <div class="user-panel">
    <div class="pull-left image">
      <img src="/dist/img/avatar5.png" class="img-circle" alt="User Image">
    </div>
    <div class="pull-left info">
      <p><%=fullName%></p>
      <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
    </div>
  </div>
  <!-- search form -->
  <form action="#" method="get" class="sidebar-form">
    <div class="input-group">
      <input type="hidden" name="q" class="form-control" placeholder="Search...">
          
    </div>
  </form>
  <!-- /.search form -->
  <!-- sidebar menu: : style can be found in sidebar.less -->
  <ul class="sidebar-menu">
    <li class="header">MAIN NAVIGATION</li>
    <li class="active treeview">
      <a href="/">
        <i class="fa fa-dashboard"></i> <span>Trang chủ</span>
      </a>
    </li>
    <li class="treeview">
      <a href="#">
        <i class="fa fa-pie-chart"></i>
        <span>Quản lí người dùng</span>
        <span class="pull-right-container">
          <i class="fa fa-angle-left pull-right"></i>
        </span>
      </a>
      <ul class="treeview-menu">
        <li><a href="http://quantrac.iotlab.net.vn/quantrac/nguoiquantri/nguoidung/danhsach"><i class="fa fa-circle-o"></i> Danh sách người dùng</a></li>
        <li><a href="http://quantrac.iotlab.net.vn/quantrac/nguoiquantri/nguoidung/them"><i class="fa fa-circle-o"></i> Thêm mới người dùng</a></li>
      </ul>
    </li>
    <li class="treeview">
      <a href="#">
        <i class="fa fa-laptop"></i>
        <span>Phản hồi</span>
        <span class="pull-right-container">
          <i class="fa fa-angle-left pull-right"></i>
        </span>
      </a>
      <ul class="treeview-menu">
        <li><a href="http://quantrac.iotlab.net.vn/quantrac/nguoiquantri/phanhoi/danhsach"><i class="fa fa-circle-o"></i> Danh sách phản hồi</a></li>
        <li><a href="http://quantrac.iotlab.net.vn/quantrac/nguoiquantri/phanhoi/them"><i class="fa fa-circle-o"></i> Thêm phản hồi mới</a></li>
      </ul>
    </li>
    <li class="treeview">
      <a href="#">
        <i class="fa fa-laptop"></i>
        <span>Bình luận</span>
        <span class="pull-right-container">
          <i class="fa fa-angle-left pull-right"></i>
        </span>
      </a>
      <ul class="treeview-menu">
        <li><a href="http://quantrac.iotlab.net.vn/quantrac/nguoiquantri/binhluan/danhsach"><i class="fa fa-circle-o"></i> Danh sách bình luận</a></li>
      </ul>
    </li>
    <li class="treeview">
      <a href="#">
        <i class="fa fa-laptop"></i>
        <span>Trả lời bình luận</span>
        <span class="pull-right-container">
          <i class="fa fa-angle-left pull-right"></i>
        </span>
      </a>
      <ul class="treeview-menu">
        <li><a href="http://quantrac.iotlab.net.vn/quantrac/nguoiquantri/traloibinhluan/danhsach"><i class="fa fa-circle-o"></i> Danh sách trả lời bình luận</a></li>
        
      </ul>
    </li>
    <li class="treeview">
      <a href="#">
        <i class="fa fa-laptop"></i>
        <span>Danh mục bài viết</span>
        <span class="pull-right-container">
          <i class="fa fa-angle-left pull-right"></i>
        </span>
      </a>
      <ul class="treeview-menu">
        <li><a href="http://quantrac.iotlab.net.vn/quantrac/nguoiquantri/danhmucbaiviet/danhsach"><i class="fa fa-circle-o"></i> Danh sách danh mục bài viết </a></li>
        <li><a href="http://quantrac.iotlab.net.vn/quantrac/nguoiquantri/danhmucbaiviet/them"><i class="fa fa-circle-o"></i> Thêm danh mục bài viết mới</a></li>
      </ul>
    </li>
    <li class="treeview">
      <a href="#">
        <i class="fa fa-laptop"></i>
        <span>Bài viết</span>
        <span class="pull-right-container">
          <i class="fa fa-angle-left pull-right"></i>
        </span>
      </a>
      <ul class="treeview-menu">
        <li><a href="http://quantrac.iotlab.net.vn/quantrac/nguoiquantri/baiviet/danhsach"><i class="fa fa-circle-o"></i> Danh sách bài viết</a></li>
        <li><a href="http://quantrac.iotlab.net.vn/quantrac/nguoiquantri/baiviet/them"><i class="fa fa-circle-o"></i> Thêm bài viết mới</a></li>
      </ul>
    </li>
    <li class="treeview">
      <a href="#">
        <i class="fa fa-laptop"></i>
        <span>Danh mục sản phẩm</span>
        <span class="pull-right-container">
          <i class="fa fa-angle-left pull-right"></i>
        </span>
      </a>
      <ul class="treeview-menu">
        <li><a href="http://quantrac.iotlab.net.vn/quantrac/nguoiquantri/danhmucsanpham/danhsach"><i class="fa fa-circle-o"></i> Danh sách sản phẩm</a></li>
        <li><a href="http://quantrac.iotlab.net.vn/quantrac/nguoiquantri/danhmucsanpham/them"><i class="fa fa-circle-o"></i> Thêm sản phẩm mới</a></li>
      </ul>
    </li>
    <li class="treeview">
      <a href="#">
        <i class="fa fa-laptop"></i>
        <span>Loại sản phẩm</span>
        <span class="pull-right-container">
          <i class="fa fa-angle-left pull-right"></i>
        </span>
      </a>
      <ul class="treeview-menu">
        <li><a href="http://quantrac.iotlab.net.vn/quantrac/nguoiquantri/loaisanpham/danhsach"><i class="fa fa-circle-o"></i> Danh sách sản phẩm</a></li>
        <li><a href="http://quantrac.iotlab.net.vn/quantrac/nguoiquantri/loaisanpham/them"><i class="fa fa-circle-o"></i> Thêm sản phẩm mới</a></li>
      </ul>
    </li>
    
  </ul>
</section>
<!-- /.sidebar -->
</aside>